
.content{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
header{
    line-height: 80px;
    height: 80px;
    padding: 0 20px;
    background-color: rgb(64, 158, 255);
}
.wrap{
    display: flex;
    flex: 1;
}
.aside{
    width: 230px;
    min-width: 230px;
    min-height: 100%;
    border-right: 1px solid #ddd;
}
.right-continer{
    flex: 1;
}

/*上边*/
.logo{
    width: 210px;
    height: 80px;
    line-height: 80px;
    font-size: 24px;
    color: #fff;
    float: left;
}
.logo a{
    color: #fff;
    text-decoration: none;
}
.user-info{
    float: right;
    color: #fff;
    padding-right: 30px;
}
.user-info a{
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
/*左边*/
.menu{
    margin: 0;
    padding: 0;
}
.menu li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}
.menu li:hover{
    background-color: rgb(235,245,255);
    cursor:pointer
}
.menu li a{
    height: 50px;
    line-height: 50px;
    display: block;
    color: #409eff;
    text-decoration: none;
}

/*首页*/


/*列表页*/
.list-add-btn{
    margin: 10px 0;
}
.list-navigation nav{
    float: right;
}
.list-navigation .count{
    float: left;
    margin: 20px 0;
    padding: 6px 0;
}

/*个人信息*/

.form-msg{
    margin: 30px 0;
}
#img{
    width: 100px;
    height: 100px;
}

.form-control-static .imgUpdate{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
}
.imgUpdate input{
    width: 100%;
    height: 100%;
}
.sub-msg{
    margin: 30px auto;
}

/*七牛上传图片*/
.add_img_box {
    overflow: hidden;
    float: left;
    margin: 30px;
}
.add_image{
    background: url(../img/bg-upload.png) no-repeat center center;
    background-size: 30px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #b8b8b8;
    position: relative;
    border-radius: 0;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
}
input.upload{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.add_image .img_show{
    position: absolute;
    z-index: 1;
    display: block;
    width: 100px;
    height: 100px;
}
.add_img_box p{
    text-align: center;
    color: #212121;
    font-size: 16px;
    line-height: 40px;
    margin: 14px 0;
}
.submit-msg{
    background: #E94B1B;
    color: #fff;
    font-size: 32px;
    text-align: center;
    height: 90px;
    line-height: 90px;
    position: fixed;
    bottom: 0;
    z-index: 8;
}