{% extends "base.html" %} {% block main %}

<div class="container">
    <div class="ai-con">
        <input type="text" id="text">
        <button id="speak">说话</button>
        <audio style="display:none;" id="audio" src="" controls="controls"></audio>
    </div>

    <div>
        <button id="recognize">身份证识别</button>
    </div>
</div>

<script>
    $(function () {

        $('#speak').click(function () {

            var text = $('#text').val()

            $.post('/ai/speak',{'text':text},function () {
                setTimeout(function () {
                    //var audio = document.getElementById("audio");
                    $('#audio').attr('src','/static/audio/ai.mpVoice.mp3?='+ Math.random())
                    $('#audio').get(0).play();
                },2000)
            })
        })

        $('#recognize').click(function () {

            $.post('/ai/recognize',{},function (res) {
                console.log(res)
            })
        })
    });
</script>
{% endblock %}