{% extends "base.html" %} {% block main %}

<div class="container">
    <div class="ai-con">
        <input type="text" id="text">
        <button id="speak">说话</button>
        <audio style="display:none;" id="audio" src="" controls="controls"></audio>
    </div>
</div>

<script>
    $(function () {
        $('#speak').click(function () {

            console.log($('#text').val())
            var text = $('#text').val()

            $.post('/ai/speak',{'text':text},function () {
                setTimeout(function () {
                    //var audio = document.getElementById("audio");
                    $('#audio').attr('src','/static/audio/ai.mpVoice.mp3?='+ Math.random())
                    $('#audio').get(0).play();
                },5000)
            })
        })
    });
</script>
{% endblock %}