<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<div class="content">
    <header>
        <div class="logo"><a href="https://github.com/nanaFDSH/thinkJs">thinkJs</a></div>
        <div class="user-info">
            {% if isLogin == 0 %}
            <a href="/user/registered">注册</a>
            <a href="/user/login">登录</a>
            {% else %}
            <span><a href="/user/message">{{name}}</a></span>
            <a href="/user/logout">退出登录</a>
            {% endif %}
        </div>
    </header>
    <div class="wrap">
        <div class="aside">
            <ul class="menu">
                <li role="presentation" class="active"><a href="/">首页</a></li>
                <li role="presentation"><a href="/list/list">分数表</a></li>
                <li role="presentation"><a href="/upload">图片上传</a></li>
            </ul>
        </div>
        <div class="right-continer">
            {% block main %} {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
