{% extends "base.html" %} {% block main %}

<link rel="stylesheet" href="/static/css/article.css">

<div class="container">
   <pre style="margin: 30px">
      页面功能
      分数表的增加，删除，修改

      用户登录，注册（涉及session 添加，删除,分页）

      获取验证码

      上传图片到静态资源 www/static/upload

      七牛上传图片

      用户登录后可修改头像

      文章添加（待续... ）


      npm install

      Install dependencies
      npm install

      Start server
      npm start

      Deploy with pm2
      Use pm2 to deploy app on production enviroment.
      pm2 startOrReload pm2.json
   </pre>
</div>

{% endblock %}