{% extends "base.html" %} {% block main %}

<link rel="stylesheet" href="/static/css/article.css">

<div class="container">
    <article class="post">
        <div class="meta">
            <div>
                <span class="author">{{name}}</span>
                <span>发布于</span>
                <span class="date">12月19, 2017</span>
            </div>
            <!--<div class="comment">-->
            <!--<a href="/post/others.html#comments">0 comments</a>-->
            <!--</div>-->
        </div>

        <h1 class="title">
            <a href="/post/others.html">杂七杂八的地址</a>
        </h1>

        <div class="entry-content">
           我是文章内容
            我是文章内容我是文章内容我是文章内容
            我是文章内容

            我是文章内容我是文章内容

            我是文章内容


            <p>-- <acronym title="End of File">EOF</acronym> --</p>

            <div class="post-info">
                <p>
                    作者
                    <a href="/user/message" data-user="">
                        <code class="notebook">{{name}}</code>
                    </a>
                    发表于 <i>2017-12-19 19:14:53</i>，最后修改于<i>2017-12-19 19:14:53</i>
                </p>
            </div>
        </div>
    </article>
</div>

{% endblock %}