{% extends "base.html" %} {% block main %}

<div class="container">
    <div class="images">
        <div class="add_img_box">
            <div class="add_image" style="border: 1px solid;">
                <input id="imgUpload" type="file" name="image" class="upload" data-url="/upload/bdupload" multiple>
                <img class="img_show" src="" style="display: none">
            </div>

            <p>上传图片</p>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#imgUpload').fileupload({
            dataType: 'json',
            done: function (e, data) {
                if(data.result.code==0){
                    $('.img_show').show();
                    $('.img_show').attr('src',data.result.data.url);
                }else{
                    $('p').text('文件上传失败');
                }
            }
        });
    });
</script>

{% endblock %}
